@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* Variables de colores */

:root {
    --yellow: #a49d80;
    --blue: #e7a670;
    --white: #ffffff;
    --bold: 900;
    --medium: 700;
    --regular: 400;
    --small: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    border-radius: 50%;
}

* img {
    width: 100%;
    height: auto;
    
}

body {
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    font-family: "lato", sans-serif;
    font-weight: var(--small);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:center ;
    background:var(--blue);
    position: fixed;
    width: 100%;
    top: 0%;
    
}

nav {
    width: 95%;
    
}

main {
    width: 100%;
    height: 100%;
}

/* class */

/* menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.menu i {
    font-size: 2rem;
    
}

.menu li a img {
    flex-wrap: wrap;
}
.menu li a {
    color: var(--white);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.5rem;
}

.container-items {
    order: 1;
    width: 100%;
    color: var(--white);
    display: none;
   
}
.container-items a:hover {
    color: black;
    transform: scale(1.50);
    transition: all 0.3s ease;
}

#check{
   display: none;
}
   
.checkbutton{
    display: block;
}

#check:checked ~ .container-items{
    left: 0;
    width: 77vh;
    display: flex;

}

.item {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    /* display: none; */
}

.menu .logo {
    width: 8rem;
}

/* section about */

.about__section {
    background-color: var(--white);
    background:no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

.about__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title-img {
    width: 350px;
}

.about__section p {
    font-size: 1rem;
    font-weight: var(--small);
    margin: 3rem 0 2rem 0;
    text-align: center;
    padding: 0 4rem;
}

.about__content .btn {
    background: var(--blue);
    color: var(--white);
    padding: 1rem;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    /*Safari y Chrome*/
    -moz-border-radius: 0.6rem;
    /*Firefox*/
    -o-border-radius: 0.6rem;
    /*Opera*/
    -ms-border-radius: 0.6rem;
    /*IE 8*/
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: var(--medium);
    cursor: pointer;
}

.about__content--img {
    width: 23rem;
    margin: 6rem auto;
    
}

/* section description */

.description__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 3rem 0;
    background: var(--blue);
}

.description__section h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 2rem;
}

.description__section h3 {
    font-size: 2.4rem;
    text-align: center;
    font-weight: var(--small);
    max-width: 300px;
    margin-bottom: 2rem;
}

.info-card {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
    padding: 20px;
}

.card p {
    max-width: 300px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: var(--small);
}

/** List Products */
.listproducts__section {
    padding: 8rem 0;
}

.listproducts__section h2 {
    text-align: center;
    font-size: 3rem;
    color: var(--blue);
}

.products__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
    margin-top: 7rem;
    width: 350px;
    height: 520px;
    border-radius: 3rem;
    position:static;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.product img {
    width: 200px;
}

.product__title {
    font-size: 2rem;
    text-transform:uppercase;
    margin-top: 1.9rem;
    max-width: 200px;
}

.product__price {
    color: var(--blue);
    font-weight: var(--medium);
    font-size: 2.8rem;
    margin: 2rem 0;
}

.product__btn {
    background: var(--blue);
    border: none;
    padding: 1rem 5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.disabled {
    background: #f3f3f3;
    border: none;
    padding: 1rem 5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: gray;
    cursor: no-drop;
}

.sinStock {
    background: #f01919;
    color: white;
    text-transform: uppercase;
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    top: 1rem;
}

/* CArrito */
.cart__section {
    background: #f3f3f3;
    padding: 4rem 0;
}

.cart__section h2 {
    font-size: 3.5rem;
    text-align: center;
    color: var(--blue);
}

.cart__section p {
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem 0 2rem 0;
    color: var(--blue);
}

.item-img {
    width: 50px;
}

.cart__container {
    width: 90%;
    background: white;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    color: var(--blue);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.cart__item--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__price {
    font-size: 2rem;
    font-weight: var(--medium);
}

.total__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--blue);
    font-size: 1.6rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
}

.cart__btn {
    background: var(--blue);
    border: none;
    font-weight: var(--medium);
    padding: 1rem 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    cursor: pointer;
    width: 400px;
    text-transform: uppercase;
}

/* Terminado el cartlist */
/** Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    padding: 8rem 0;
    color: white;
    text-align: center;
}

footer .title {
    width: 15rem;
    height: auto;
    margin-bottom: 2rem;
    border-radius: 10% 10%;
}

.contacto {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.contacto img {
    display: flex;
    min-width: 50px;
    max-width: 50px;
    max-height: 100px;
    border-radius: 40% 40%;
    box-shadow: 7px 13px 37px #000;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.contacto a {
   display: flex;
   flex-direction: row;
   margin-top: 1rem 0;
   padding: 10px;
}

.legales {
    max-width: 250px;
    margin-bottom: 2rem;
}

/* Media queries */
@media (min-width: 1024px) { /*PANTALLAS MAYORES A 1024*/

    header {
    position: fixed;
    width: 100%;
    }

    #navbar {
        width: 100%;
        position: fixed;
        top: 0;
        transition: top 0.5s;
        background-color: var(--blue);
        z-index: 3;
        -webkit-transition: top 0.5s;
        -moz-transition: top 0.5s;
        -ms-transition: top 0.5s;
        -o-transition: top 0.5s;
    }
  
    
    /*menu*/
    .menu {
        flex-wrap: nowrap;
        justify-content: space-around;
        margin: 1rem auto;
        
    }
    .menu li a {
        color: var(--white);
    }

    .item {
        display: flex;
        cursor: pointer;
        width: auto;
        padding: 20px;
        font-size: 1.1rem;
    }

    .item:first-child {
        margin: 0;
    }

    .btn__container {
        display: none;
    }

    .container-items {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-width: 800px;
    }

    .menu i {
        font-size: 2.3rem;
    }

    /* menu termina */
    /* seccion 1*/
    .about__section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10rem 0 5rem 0;
        gap: 50px;
    }

    .about__content p {
        font-size: 2.3rem;
        padding: 0.1rem 15rem;
        text-align: center;
        justify-content: space-between;
    }

    .about__content img {
        width: 100%;
        max-width: 500px;
        padding: 2rem 10 rem;
        justify-content: flex-start;
    }

    .about__content--img {
        margin: 0;
        padding: 2rem;
        display:none;
    }
    .about__content .btn {
        padding: 1.5rem;
        
    }
    

    /* termina seccion 1*/
    /* seccion 2*/
    .card__container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .description__section h3 {
        max-width: 400px;
        margin-top: 0.2rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* termina seccion 2*/
    /* seccion 3*/
    .products__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        gap: 50px;
        margin-top: 10rem;
    }

    .product {
        margin: 0;
    }

    /* termina seccion 3*/
    /* seccion 4*/
    .card__container {
        max-width: 1000px;
    }

    /* termina seccion 4*/
    .contacto {
        flex-direction: row;
    }

}



.menu li a {
    position: relative;
}

.btn:hover {
    background-color: var(--blue);
    transform: scale(1.10);
    transition: all 0.3s ease;
    cursor: pointer;
    
}


.btn:active {
    transform: scale(0.99);
}
.product__btn:hover {
    background-color: var(--blue);
    transform: scale(1.01);
    transition: all 0.3s ease;
    cursor: pointer;
}


.product__btn:active {
    transform: scale(0.99);
}

.cart__btn:hover {
    background-color: var(--blue);
    transform: scale(1.01);
    transition: all 0.3s ease;
    cursor: pointer;
}


.cart__btn:active {
    transform: scale(0.99);
}
.contacto a img:hover {
    transform: scale(1.01);
    transition: all 0.3s ease;
}