@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* Variables de colores */

:root {
    --yellow: #a49d80;
    --blue: #e7a670;
    --white: #ffffff;
    --bold: 900;
    --medium: 700;
    --regular: 400;
    --small: 300;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

.logo {
    border-radius: 50%;
}

* img {
    width: 100%;
    height: auto;
    
}

body {
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    font-family: "lato", sans-serif;
    font-weight: var(--small);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:center ;
    background:var(--blue);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0%;
    
}

nav {
    width: 95%;
    
}

main {
    width: 100%;
    height: 100%;
   padding-bottom: 0px;
}

/* class */

/* menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.menu i {
    font-size: 2rem;
    
}

.menu li a img {
    flex-wrap: wrap;
}
.menu li a {
    color: var(--white);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.5rem;
}

.container-items {
    order: 1;
    width: 100%;
    color: var(--white);
    display: none;
   
}
.container-items a:hover {
    color: black;
    transform: scale(1.50);
    transition: all 0.3s ease;
}
.container-items a {
    font-size: larger;
    text-shadow: 7px 3px 7px #000;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
.item {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    /* display: none; */
}

.menu .logo {
    width: 8rem;
    
}
.logo:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    
}
.btn__container a {
    padding-left: 30px;
    color: var(--white);
    text-shadow: 7px 3px 7px #000;

}

/* section about */

.about__section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 3rem ;
    flex-direction:row ;
}

.about__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title-img {
    width: 300px;
    border-radius: 0.6rem;
}

.about__section p {
    font-size: 1rem;
    font-weight: var(--small);
    text-align: center;
    padding: 2rem 2rem;
   
}

.about__content .btn {
    background: var(--blue);
    color: var(--white);
    padding: 1rem;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    /*Safari y Chrome*/
    -moz-border-radius: 0.6rem;
    /*Firefox*/
    -o-border-radius: 0.6rem;
    /*Opera*/
    -ms-border-radius: 0.6rem;
    /*IE 8*/
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: var(--medium);
    cursor: pointer;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.3);
}

.about__content--img {
    width: 23rem;
    margin: 1rem auto;
   
}
.about__content--img img{
    border-radius: 100rem;
    box-shadow: 7px 13px 37px #000;
    
}
.about__content h1 {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: var(--blue);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 2px #000;
}
.about__content h2 {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 2px var(--blue);
}

/* section description */

.description__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 3rem 0;
    background: linear-gradient( var(--blue),rgba(252, 144, 144, 0.7));
    
}

.description__section h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 2rem;
    text-shadow: 7px 3px 7px #000;
}

.description__section h3 {
    font-size: 2.4rem;
    text-align: center;
    font-weight: var(--small);
    max-width: 300px;
    margin-bottom: 2rem;
}

.info-card {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 50%;
}
.card__container {
    width: 20rem;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
    padding: 20px;
}
.card:hover {
    transform: scale(1.20);
    transition: all 0.3s ease;
    cursor: pointer;
}

.card p {
    max-width: 300px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: var(--small);
}

/** List Products */
.listproducts__section {
    padding: 8rem 0;
}

.listproducts__section h2 {
    text-align: center;
    font-size: 3rem;
    color: var(--blue);
    text-shadow:4px 3px 7px #000;
}

.products__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product {
    background-image: linear-gradient(rgba(252, 144, 144, 0.7), rgba(212, 143, 31, 0.7)), url("img/fondo.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.3);
    margin-top: 7rem;
    width: 350px;
    height: 520px;
    border-radius: 3rem;
    position:static;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.product img {
    width: 200px;
    border-radius: 50rem;
    box-shadow: 7px 3px 7px #000;
}

.product__title {
    
    font-size: 2rem;
    text-align: center;
    text-transform:uppercase;
    font-weight: var(--medium);
    color: var(--blue);
    margin-top: 1.9rem;
    max-width: 200px;
}

.product__price {
    color: black;
    font-weight: var(--medium);
    font-size: 2.8rem;
    margin: 2rem 0;
}

.product__btn {
    background: var(--blue);
    border: none;
    padding: 1rem 5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    box-shadow: 7px 3px 7px #000;
}

/*.disabled {
    background: #f3f3f3;
    border: none;
    padding: 1rem 5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: gray;
    cursor: no-drop;
}

.sinStock {
    background:brown;
    color: white;
    text-transform: uppercase;
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    top: 1rem;
}*/

.btn:hover {
    background-color: var(--blue);
    transform: scale(1.10);
    transition: all 0.3s ease;
    cursor: pointer;
    
}

.btn:active {
    transform: scale(0.99);
}
.product__btn:hover {
    background-color: var(--blue);
    transform: scale(1.01);
    transition: all 0.3s ease;
    cursor: pointer;
}

.product__btn:active {
    transform: scale(0.99);
}
/* Doctores */

.section-container {
    background-image: linear-gradient(rgba(252, 144, 144, 0.7), var(--blue));
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0px;
    width: 100%;
    background-color: var(--blue);
    
}
#speakers {
    flex-direction: column;
    gap: max(120px, 30%);
   
  }
  
  .title-container {
    display: flex;
    justify-content: center;
    gap: 40%;
    width: 100%;
    padding-bottom: 150px;
  }

  .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-shadow: 7px 3px 7px #000;
    font-size: 3rem;
  }
  
  .speakers-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 90px;
  }
  
  .speakers-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color:salmon;
    text-align: center;
    width: 250px;
    height: 450px;
    position: relative;
    padding-top: 90px;
    border-radius: 1rem;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.3);
  }
  
  .speakers-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 70px;
    font-weight: 300;
    color: var(--yellow);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    background-size: cover;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.3);
  }
  
  .speakers-card:first-child .speakers-card-img {
    background-image: url(./img/flor.jpg);
  }
  
  .speakers-card:nth-child(2) .speakers-card-img {
    background-image: url(./img/mar.jpg);
  }
  
  .speakers-card:nth-child(3) .speakers-card-img {
    background-image: url(./img/nancy.jpg);
  }
  
  .speakers-card:nth-child(4) .speakers-card-img {
    background-image: url(./img/agustin.jpg);
  }
  
  .speakers-card:nth-child(5) .speakers-card-img {
    background-image: url(./img/vanina.jpg);
  }
  .speakers-card:nth-child(6) .speakers-card-img {
    background-image: url(./img/cintia.jpg);
  }
  
  .speakers-card h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-shadow: 7px 3px 7px #000;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    padding-top: 5rem;
  }
  
  .responsive-btn {
    display: none;
  }
  .section-p-small {
    color: var(--white);
    padding: 15px;
    font-size: 0.8rem;
  }

/* contacto */

.contacto-title {
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.contacto-title a i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 5rem;
    text-shadow: 7px 13px 37px #000;
    padding-bottom: 2rem;
    
}
.contacto-title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-shadow: 7px 3px 7px #000;
    font-size: 2rem;
    padding-bottom: 2rem;
        
}
/* Footer */
footer {
    display: flex;
    background-color: var(--blue);
    padding: 4rem 0;
    color: white;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-top: 0;
}
.yendo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.yendo .title {
    width: 25rem;
    height: auto;
    border-radius: 10% 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title img {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 13px 37px #000;
    border-radius: 0.6rem;
}
.contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contacto img {
    display: flex;
    min-width: 50px;
    max-width: 50px;
    max-height: 100px;
    border-radius: 40% 40%;
    box-shadow: 7px 13px 37px #000;
    justify-content: center;
    align-items: center;
}

.contacto a {
   display: flex;
   flex-direction: row;
   margin-top: 1rem 0;
   padding: 0.5rem
}
.yendo h3 {
    display: flex;
    align-items: center;
    text-shadow:4px 3px 7px #000;
    justify-content: center;
    padding-top: 20px;
}

footer h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow:4px 3px 7px #000;
    color: var(--white);
    padding: 3rem 8rem;
}
.linea {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 5px auto 0 auto;
  }

.logofooter img {
    display: none;
}

.legales {
    text-shadow:4px 3px 7px #000;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blue);
    color: var(--white);
    padding: 10px;
}
.legales img {
    width: 8rem;
    background-color: #f3f3f300;
}
.mapa
{
    padding-top: 2rem;;
}
.mapa iframe{
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    /*Safari y Chrome*/
    -moz-border-radius: 0.6rem;
    /*Firefox*/
    -o-border-radius: 0.6rem;
    /*Opera*/
    -ms-border-radius: 0.6rem;
    /*IE 8*/
    box-shadow: 7px 13px 37px #000;
}

/* Media queries */
@media (min-width: 1024px) { /*PANTALLAS MAYORES A 1024*/

    header {
    position: fixed;
    width: 100%;
    }

    #navbar {
        width: 100%;
        position: fixed;
        top: 0;
        transition: top 0.5s;
        background-color: var(--blue);
        z-index: 3;
        -webkit-transition: top 0.5s;
        -moz-transition: top 0.5s;
        -ms-transition: top 0.5s;
        -o-transition: top 0.5s;
    }
  
    
    /*menu*/
    .menu {
        flex-wrap: nowrap;
        justify-content: space-around;
        margin: 0rem auto;
        box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.3);;
        
    }
    .menu li a {
        color: var(--white);
    }

    .item {
        display: flex;
        cursor: pointer;
        width: auto;
        padding: 20px;
        font-size: 1.1rem;
    }

    .item:first-child {
        margin: 0;
    }

    .btn__container {
        display: none;
    }

    .container-items {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-width: 800px;
    }

    .menu i {
        font-size: 2.3rem;
    }

    /* menu termina */
    /* seccion 1*/
    .about__content{
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 3rem;
        flex-direction: column;
    }
    .about__section {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
        flex-direction:row-reverse; 
        background-image: url(img/fondo2.png);
        background-size: cover;      
        padding-top: 10rem;
        padding-bottom: 5rem;
    }
   
    .about__content p {
        font-size: 1.6rem;
        padding: 2rem;
        text-align: center;
        justify-content:center;
        display: flex;
        align-items: center;
    }
    .about__content--img img{
        
        width: 25rem;
        border-radius: 100rem;
        box-shadow: 7px 13px 37px #000;
    }

    .about__content--img {
        justify-content: center;
        width: 100%;
        align-items: center;
        padding: 1rem 5rem;
    
    }
  
    .about__content--img:active{
        cursor: pointer;
        transform: scale(1.80);
        transition: all 0.10s ease;
        position:static;
        z-index: 1;
        
        

    }
    .about__content--img h2:hover{
        cursor: pointer;
        border-style:ridge;
        border-color: var(--blue);
    }


    .about__content--img h2:active {
        display: none;

    }
    .about__content .btn {
        padding: 1.1rem;
        
    }
    
    .about__content h1 {
        padding-top: 0;
        font-size: 5rem;
        text-shadow: 5px 3px 5px #000;
     
    }
    .about__content h2 {
        font-size: 4rem;
        text-shadow: 5px 3px 5px var(--blue);
     
    }
    /* termina seccion 1*/
    /* seccion 2*/
   
    .card__container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 200rem;
    }

    .description__section h3 {
        max-width: 400px;
        margin-top: 0.2rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* termina seccion 2*/
    /* seccion 3*/
    .listproducts__section {
        background-image: url(img/fondo3.png);
        background-size:cover;
    
    }
    .products__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        gap: 50px;
        margin-top: 10rem;
    }

    .product {
        margin: 0;
    }

    /* termina seccion 3*/
    /* SPEACKERS */
    .section-p-small {
        color: var(--white);
        padding: 15px;
        font-size: 1rem;
      }
    /* seccion 4*/
    .card__container {
        max-width: 1000px;
    }
    .contacto-title h2 {
        font-size: 3rem;
    }
    
    /* termina seccion 4*/
    .contacto {
        flex-direction: row;
    }
    .contacto:hover {
        transform: scale(1.50);
        transition: all 0.3s ease;
    }
   
    footer {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 0%;

    }
    .logofooter img{
        display:flex;
        width: 30rem;
        border-radius: 1rem;
        box-shadow: 7px 13px 37px #000;
    }

    
    

}